::-webkit-scrollbar {
  display: none;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  background-color: #030420;
  color: #fff;
}

input,
button {
  outline: none;
  border: none;
  background-color: #030420;
}

input:focus,
input:active,
button:active {
  outline: none;
}

@font-face {
  font-family: Poppins;
  src: url(./assets//fonts//Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins;
  src: url(./assets//fonts//Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: PoppinsLight;
  src: url(./assets//fonts//Poppins/Poppins-Light.ttf);
}

@font-face {
  font-family: PoppinsExtraLight;
  src: url(./assets//fonts//Poppins/Poppins-ExtraLight.ttf);
}

@font-face {
  font-family: PoppinsMedium;
  src: url(./assets//fonts//Poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: PoppinsBold;
  src: url(./assets//fonts//Poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: ExtraBold;
  src: url(./assets//fonts//Poppins/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: PoppinsSemiBold;
  src: url(./assets//fonts//Poppins/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: PoppinsThin;
  src: url(./assets//fonts//Poppins/Poppins-Thin.ttf);
}

.custom-image {
  position: relative;
}

.custom-image-img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.custom-image-badge {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50%;
  width: 13px;
  aspect-ratio: 1;
  background-color: limegreen;
  z-index: 2;
}

@media screen and (max-width: 730px) {
  .custom-image-img {
    width: 20px;
  }
}
